.messages {
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hidden, .edit-project {
    display: none;
}

.btn-close {
    position: absolute;
    right: 15px;
}

.clock-bar {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row.project-row {
    align-items: center;
    background: #f0f6ff;
    border: 1px solid;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 1px 5px 4px 1px #cdcdcd;
}

span.col.project-bnts {
    text-align: right;
}

.row.project-row.active {
    background: midnightblue;
    color: aliceblue;
    font-size: 1.2em;
}